@model List<Meal>
@{
    ViewData["Title"] = "Menu";
}
<br />
<h1 class="text-center">Weekly summary</h1><br />
<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">Days</th>
        <th scope="col">Meals</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td>
                <form asp-controller="Meal" asp-action="Edit" method="get" asp-route-Id="">
                    <button type="submit">Edit</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>