@model WeeklySummaryViewModel
@{
    ViewData["Title"] = "Menu";
}
<br />
<h1 class="text-center">Weekly summary</h1><br />
<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">Days</th>
        <th scope="col">Meals</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @for (int i = 1; i <= (Model.NumberOfDaysInCycle * 7); i++)
    {
        <tr>
            <td>@i</td>
            <td>@Model.MealList[0].Recipe.Name</td>
            <td>
                <form asp-controller="Meal" asp-action="Edit" method="get" asp-route-Id="@i">
                    <button type="submit" class="btn btn-warning">Edit</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>