@{
    Layout = null;
}

<h1>Weekly summary</h1>

<table class="table">
    <tr>
        <th>Days</th>
        <th>Meals</th>
        <th></th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>
            <form asp-controller="Meal">
                <button type="button">Edit</button>
            </form>
        </td>
    </tr>
    
    
    
    
</table>